# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Create a Jupyter Notebook

* Insert code and markdown cells

* Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

4.Java

5.Java Script

6.Scala

7.Julia

8.c++

Some of the commonly used libraries used by Data Scientists include:

1.NumPy

2.Matplotlib

3.SciPy

4.Pandas

5.Seaborn

6.Tensor Flow

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Zeppelin   |
|Spyder            |
|Anaconda          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Nidumukkala Satya Sai Umesh Chandra